@model IEnumerable<Data.Models.Question>
@{
    ViewData["Title"] = "Index";
}

<h2>Question List</h2>


<table class="table">
    <thead>
        <tr>
            <th>CompetitionName</th>
            
            <th>File</th>
            <th>Writing</th>
            
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@(question.Competition != null ? question.Competition.CompetitionName : "N/A")</td>
                
                <td>@question.File</td>
                <td>@question.Writing</td>
               

                <td>
                    <a asp-action="Edit" asp-route-id="@question.QuestionID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@question.QuestionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


