@model IEnumerable<Data.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    int page = !string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["page"]) ? int.Parse(ViewContext.HttpContext.Request.Query["page"]) : 1;
    int pageSize = 5;
    int totalItems = Model.Count();
    int totalPages = (int)Math.Ceiling((double)totalItems / pageSize);

    
    @if (page < 1 || page > totalPages)
    {
        page = 1; 
    }
}
<div class="templatemo-content-widget no-padding">
    <div class="panel panel-default table-responsive">
        <table class="table table-striped table-bordered templatemo-user-table">
            <thead>
                <tr>

                    <td><a href="" class="white-text templatemo-sort-by">User Name<span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Email<span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Password <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Role <span class="caret"></span></a></td>

                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>

                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Password</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="" class="btn btn-primary btn-block">Edit</a>
                            <a asp-action="Details" asp-route-id="" class="btn btn-info btn-block">Details</a>
                            <a asp-action="Delete" asp-route-id="@user.UserID" class="btn btn-danger btn-block">Delete</a>
                        </td>
                        
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@if (totalPages > 1)
{
    <div class="pagination-wrap">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="@(i == page || (i == 1 && page <= 0) ? "active" : "")">
                    <a href="@Url.Action("Index", new { page = i })" data-page="@i">@i <span class="sr-only">(current)</span></a>
                </li>
            }
        </ul>
    </div>
}
<footer class="text-right">
    <p>Copyright &copy; Project III
</footer>