@model Data.Models.Competition

<h1>@Model.CompetitionName</h1>

<div>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Start Date:</strong> @Model.StartDate</p>
    <p><strong>End Date:</strong> @Model.EndDate</p>
    <!-- Hiển thị ảnh -->
    @if (!string.IsNullOrEmpty(Model.Photo))
    {
        <img src="@Model.Photo" alt="Competition Photo" />
    }

</div>

<a asp-controller="Question" asp-action="Create" asp-route-competitionId="@Model.CompetitionID">Create Question</a>
<div>
   
</div>
