@model IEnumerable<Data.Models.Exam>
@{
    ViewData["Title"] = "Index";
}

<h2>Exam List</h2>

<div>
    <form asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="text" name="searchText" class="form-control" placeholder="Search by competition name...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>

            <th>Competition</th>
            <th>Email</th>
            <th>Score</th>
            <th>Rank</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model)
        {
            <tr>

                <td>@(exam.Competition != null ? exam.Competition.CompetitionName : "N/A")</td>
                <td>@(exam.Student != null ? exam.Student.Email : "N/A")</td>
                <td>@exam.Score</td>
                <td>@exam.Rank</td>
                

                <td>
                    <a asp-action="Edit" asp-route-id="@exam.ExamID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@exam.ExamID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


