@model Data.Models.Answer
<link href="/css/site.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">



<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Satisfaction Survey form Wizard by Ansonika.">
	<meta name="author" content="Ansonika">
	<title>Satisfyc | Satisfaction Survey form Wizard</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/img/apple-touch-icon-144x144-precomposed.png">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/css/bootstrap2.min.css" rel="stylesheet">
	<link href="/css/style2.css" rel="stylesheet">
	<link href="/css/vendors2.css" rel="stylesheet">
	<link href="/css/site.css" rel="stylesheet" />
	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom2.css" rel="stylesheet">

</head>

<body class="style_2">

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<header>
		<div class="container-fluid">
			<div class="row">
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->

	<div class="wrapper_centering">
		<div class="container_centering">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-xl-6 col-lg-6 d-flex align-items-center">
						<div class="main_title_1">
							<h3>Question</h3>
							<td>
								<a href="@ViewBag.Question.File" target="_blank" class="image-link">
									<img src="@ViewBag.Question.File" alt="Question Image" width="150" height="150" />
								</a>
							</td>
							<p> @ViewBag.Question.Writing</p>
						</div>
					</div>
					<!-- /col -->
					<div class="col-xl-5 col-lg-5">
						<div id="wizard_container">
							<div id="top-wizard">
								<div id="progressbar"></div>
							</div>

							<h2>Answer Details</h2>




							<td>
								<a href="@Model.File" target="_blank" class="image-link">
									<img src="@Model.File" alt="Competition Image" width="100" height="100" />
								</a>
							</td>
							<p>@Model.Writing</p>



						</div>
					</div>
					<div >
						<td>
							<a asp-controller="Exam" asp-action="Create" asp-route-competitionId="@Model.Question.CompetitionID"
							   asp-route-studentId="@Model.StudentID" >
								<button type="button" class="btn btn-primary">marking</button>
							</a>
						</td>
					</div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		<footer>
		</footer>

	</div>


	<!-- COMMON SCRIPTS -->
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/common_scripts.min.js"></script>
	<script src="/js/functions.js"></script>

	<!-- Wizard script -->
	<script src="/js/survey_func.js"></script>

</body>

<!-- Mirrored from www.ansonika.com/satisfyc/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Apr 2024 13:24:55 GMT -->
</html>