@model IEnumerable<Data.Models.Answer>
@{
    ViewData["Title"] = "Index";
}

<h2>Answer List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>QuestionID</th>
            <th>StudentID</th>
            <th>File</th>
            <th>Writing</th>
            
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model)
        {
            <tr>

                <td>@answer.QuestionID</td>
                <td>@answer.StudentID</td>
                <td>@answer.File</td>
                <td>@answer.Writing</td>
                

                <td>
                    <a asp-action="Edit" asp-route-id="@answer.AnswerID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@answer.AnswerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


