@model IEnumerable<Data.Models.Survey>
@{
    ViewData["Title"] = "Index";
}

<h2>Survey List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Description</th>
            <th>TargetRole</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model)
        {
            <tr>
                
                <td>@survey.Title</td>
                <td>@survey.Description</td>
                <td>@survey.TargetRole</td>
                <td>@survey.StartDate.ToString("HH:mm dd/MM/yyyy")</td>
                <td>@survey.EndDate.ToString("HH:mm dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@survey.SurveyID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@survey.SurveyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


