@model MVC.Models.ViewModelHome
<!DOCTYPE html>
<html lang="zxx">
<style>
    .item-thumb {
        width: 100%;
        height: 200px; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

        .item-thumb img {
            max-width: 100%;
            max-height: 100%; 
        }
</style>    

<!-- Mirrored from pixydrops.com/novio/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Apr 2024 12:00:02 GMT -->
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Survey - Ecology & Environmental Non-Profit Organization</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- ====== main style start ====== -->
     <link href="/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="/css/effect.css" rel="stylesheet" />
    <!-- ====== main style end ====== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <div class="preloader"><div class="spinner"></div></div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- header start -->
        <header class="header1"> 
            <nav class="navbar nav-solid mb-0">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                            <span></span>  <span></span>  <span></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="img/favicon.png" alt="logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <form class="navbar-left">
                            <input type="text" class="form-control" placeholder="Search">
                        </form>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="nav navbar-nav f1 mainMenu text-capitalize navbar-right">
                                
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="@Url.Action("Account", "Admin")">Hello, @User.Identity.Name!</a>
                                    </li>
                                }
                                else if (User.IsInRole("Faculty"))
                                {
                                    <li>
                                        <a href="@Url.Action("Account", "Faculty")">Hello, @User.Identity.Name!</a>
                                    </li>
                                }
                                else if (User.IsInRole("Student"))
                                {
                                    <li>
                                        <a href="@Url.Action("Account", "Student")">Hello, @User.Identity.Name!</a>
                                    </li>
                                }
                                <li>
                                    <a asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Content("~/")">Log out</a>
                                 </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav f1 mainMenu text-capitalize navbar-right">
                                <li>
                                    <a href="@Url.Action("Login","User")">Login</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Register","User")">Register</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>
        </header>
        <!-- header end -->
        <!-- main-slider start -->
        <div class="main-slider ms1">
            <div class="banner-carousel owl-carousel">
                
                @if(Model.FirstCompetition != null)
                {
                    <div class="ms1-item">
                        
                        <img src="@Model.FirstCompetition.Photo" alt="Competition Photo">
                        <div class="pos-r g-table">
                            <div class="d-middle">
                                <div class="container crop">
                                    <div class="item-inner">
                                        <span class="slider-icon">
                                            <i class="nivio-tree-leaf"></i>
                                        </span>
                                        <p class="f2 c3 fw-7">@Model.FirstCompetition.CompetitionName</p>
                                        <div class="head-lines f1 cw mb-50">
                                            <h1 class="fw-5" style="font-size: 30px;">@Model.FirstCompetition.Description</h1>
                                            <h1 class="fw-5" style="font-size: 30px;">@Model.FirstCompetition.StartDate</h1>
                                            <h1 class="fw-5" style="font-size: 30px;">@Model.FirstCompetition.EndDate</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <p>Not Found</p>
                }

                
            </div>
        </div>
        <!-- main-slider end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="intro1 pb-100"> 
                <div class="container">
                    <div class="row">
                        <div class="section-header text-center mb-60">
                            <h2 class="f2 c1">welcome to survey</h2>
                            <h1 class="f1 fw-7 c4">Competitions</h1>
                        </div>
                         @foreach (var competition in Model.Competition)
                        {
                            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 col-xs-offset-0 mb-sm-50">
                                <div class="item">
                                    <div class="item-thumb">
                                        <a href="@Url.Action("JoinCompetition", "SC", new { competitionId  = competition.CompetitionID })" class="competition-item">
                                            <img src="@competition.Photo" alt="Competition Photo" />
                                        </a>
                                    </div>
                                    <div class="item-txt text-center f1">
                                        <div>
                                            <h3>@competition.CompetitionName</h3>
                                            <p>@competition.Description</p>
                                            <p>Start Date: @competition.StartDate.ToString("dd/MM/yyyy")</p>
                                            <p>End Date: @competition.EndDate.ToString("dd/MM/yyyy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        
                    </div>
                </div>
            </div>
            <div class="hotline">
                <div class="txt-row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="item">
                                    <div class="section-header">
                                        <h2 class="f2 c1">Survey</h2>
                                        <h1 class="f1 fw-7 c4">Survey for a better place</h1>
                                    </div>
                                    <p class="f1 fw-4 mt-45"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="brands py-100">
                
            </div>
            <!-- facts start -->
            <div class="facts-area text-center text-capitalize">
                <div class="container">
                    
                </div>
            </div>
            <!-- facts end -->
            <div class="projects">
                <div class="container">
                    <div class="section-header text-center">
                        <h2 class="f2 c1">Current Events</h2>
                        <h1 class="f1 fw-7 c4">Events arround the world</h1>
                    </div>
                    
                    <div class="project-blocks">
                        <div class="row">
                            @foreach (var ev in Model.Events)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6 mt-30">
                                    <div class="item clearfix">
                                        <a asp-controller="Event" asp-action="Detail" asp-route-id="@ev.EventID">
                                            <img src="@ev.Photo" alt="Event Photo" width="100%" height="100%" />
                                        </a>
                                        <div class="item-content tnz bg2 cw f1">
                                            <h2 class="fw-7">
                                                <a asp-controller="Event" asp-action="Detail" asp-route-id="@ev.EventID" class="competition-item">@ev.Title</a>
                                                
                                            </h2>
                                            <p class="fw-4">@ev.Description</p>
                                            <a asp-controller="Event" asp-action="Detail" asp-route-id="@ev.EventID" class="rdm">
                                            
                                                <i class="fa fa-angle-right c2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimony mt-md pt-md">
                <div class="container">
                    <div class="section-header text-center">
                        <h2 class="f2 c1">have any questions?</h2>
                        <h1 class="f1 fw-7 c4">FAQs</h1>
                    </div>
                    <div class="row">
                       
                        <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                            <div class="testimonial owl-carousel">
                                
                                @foreach (var faq in Model.FAQ)
                                {
                                    <div class="pw-item f1 text-center">
                                        <p class="name fw-7 c1">@faq.Email</p>
                                           <img src="@faq.Photo" alt="Competition Image" width="100" height="100" />
                                        
                                        <p style="font-size: 14px;">@faq.Answer</p>
                                    </div>
                                }   
                   
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="blog">
            <div class="container">
                
            </div>
        </div>
    </div>
    <!-- page-content end -->
    <!-- footer start -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mb-xs-30">
                        <a href="#">
                            <img src="img/logo/02.png" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-inline text-right">
                            <li>
                                <a href="#"><i class="c4 fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="c4 fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="c4 fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="c4 fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 clearfix mb-sm-50">
                        <div class="fooler-col f1">
                            <h2 class="footer-title">conmpany</h2>
                            <ul>
                                <li>
                                    <a href="#">about</a>
                                </li>
                                <li>
                                    <a href="#">our team</a>
                                </li>
                                <li>
                                    <a href="#">missions</a>
                                </li>
                                <li>
                                    <a href="#">our projects</a>
                                </li>
                                <li>
                                    <a href="#">contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="fooler-col f1">
                            <h2 class="footer-title">services</h2>
                            <ul>
                                <li>
                                    <a href="#">Recycling</a>
                                </li>
                                <li>
                                    <a href="#">Ecosystem</a>
                                </li>
                                <li>
                                    <a href="#">Organic</a>
                                </li>
                                <li>
                                    <a href="#">Biology</a>
                                </li>
                            </ul>
                        </div>
                        <div class="fooler-col f1">
                            <h2 class="footer-title">links</h2>
                            <ul>
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="#">Clients</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 mb-sm-50">
                        <div class="footer-contact">
                            <h2 class="footer-title">Contact</h2>
                            <h3>Số 8A Tôn Thất Thuyết</h3>
                            <ul>
                                <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                <li><i class="fa fa-phone-square"></i> 888 999 0000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-contact f1">
                            <h2 class="footer-title">newslater</h2>
                            <form>
                                <input type="email" placeholder="Email address">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom f1">
            <div class="container">
                <p>© copyright 2018 by Layerdrops.com</p>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
    <script src="/js/html5lightbox/html5lightbox.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/numscroller-1.0.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.enllax.min.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <script src="~/js/main.js"></script>
</body>


<!-- Mirrored from pixydrops.com/novio/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Apr 2024 12:00:43 GMT -->
</html>